
<% if @issue != nil &&
(
  @issue.tracker.name == "prMode" ||
  @issue.tracker.name == "prSys" ||
  @issue.tracker.name == "prParam" ||
  @issue.tracker.name == "prValue" ||
  @issue.tracker.name == "prValFloat" ||
  @issue.tracker.name == "prValText" ||
  @issue.tracker.name == "prValDate" ||
  @issue.tracker.name == "prCmd"
)

then 
    
        splitted_url = request.fullpath.split('/issues')
        root_url = request.base_url+splitted_url[0]


        url1 = @issue.project.csys.calculate_form_path(root_url, @issue, false, false, false, User.current.api_key).html_safe
        url2 = @issue.project.csys.calculate_form_path(root_url, @issue, true, false, false, User.current.api_key).html_safe
        url3 = @issue.project.csys.calculate_form_path(root_url, @issue, false, false, true, User.current.api_key).html_safe

%>

<div class="poris-content">
  <div class="poristabsContainer">
    <button class="poristablink" onclick="changeRightPanel('<%= url1 %>')">Node</button>
    <button class="poristablink" onclick="changeRightPanel('<%= url2 %>')">Project</button>
    <button class="poristablink" onclick="changeRightPanel('<%= url3 %>')">Node&Down</button>  </div>
  <div id="Panel" class="poristabcontent">

    <%     
    content_for :header_tags do %>
        <%= stylesheet_link_tag 'cosmosys_req_poris', :plugin => 'cosmosys_req_poris' %>
        <%= stylesheet_link_tag 'form/style', :plugin => 'cosmosys_req_poris' %>
    <% end %>

<div id="porisViewer"></div>
<script type="module">
    import { createPorisViewerPanel } from '<%= javascript_path '/plugin_assets/cosmosys_req_poris/javascripts/form/prod' %>'


    window.changeRightPanel = function(url) {
      createPorisViewerPanel(url, '#porisViewer')
    }

    changeRightPanel('<%= url1 %>')
</script>

  </div>

<div id="OtherPanels" class="poristabcontent">
hola
  <% if @issue != nil then %>
  <p><%= link_to 'Show Panel', {:controller => 'csys_poris',  :action => 'form', :id => @project.identifier, :issue_id => @issue.id}, :method => :get %></p>
  <p><%= link_to 'Show Panel from project root', {:controller => 'csys_poris',  :action => 'form', :id => @project.identifier, :issue_id => @issue.id, :from_root => "y"}, :method => :get %></p>
  <p><%= link_to 'Show Panel incl subprojects', {:controller => 'csys_poris',  :action => 'form', :id => @project.identifier, :issue_id => @issue.id, :across_sub => "y"}, :method => :get %></p>
  <p><%= link_to 'Show Panel from project root incl subprojects', {:controller => 'csys_poris',  :action => 'form', :id => @project.identifier, :issue_id => @issue.id, :from_root => "y", :across_sub => "y"}, :method => :get %></p>
  <p><%= link_to 'Show Panel from top root', {:controller => 'csys_poris',  :action => 'form', :id => @project.identifier, :issue_id => @issue.id, :from_root => "y", :across_sup => "y"}, :method => :get %></p>
  <p><%= link_to 'Show Panel from top root incl subprojects', {:controller => 'csys_poris',  :action => 'form', :id => @project.identifier, :issue_id => @issue.id, :from_root => "y", :across_sup => "y", :across_sub => "y"}, :method => :get %></p>
  <% end %>
  </div>
</div>
<%= javascript_include_tag 'csys_poris', :plugin => 'cosmosys_req_poris' %>
<% end %>