
<% if @issue != nil &&
(
  @issue.tracker.name == "prMode" ||
  @issue.tracker.name == "prSys" ||
  @issue.tracker.name == "prParam" ||
  @issue.tracker.name == "prValue" ||
  @issue.tracker.name == "prValFloat" ||
  @issue.tracker.name == "prValText" ||
  @issue.tracker.name == "prValDate" ||
  @issue.tracker.name == "prCmd"
)

then 
    
        splitted_url = request.fullpath.split('/issues')
        root_url = request.base_url+splitted_url[0]


        url1 = @issue.project.csys.calculate_form_path(root_url, @issue, false, false, false, User.current.api_key).html_safe
        url2 = @issue.project.csys.calculate_form_path(root_url, @issue, true, false, false, User.current.api_key).html_safe
        url3 = @issue.project.csys.calculate_form_path(root_url, @issue, false, false, true, User.current.api_key).html_safe

%>

<div class="poris-content">
  <div class="poristabsContainer">
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url1 %>')">Node</button>
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url2 %>')">Project</button>
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url3 %>')">Node&Down</button>  </div>
    <p><%= link_to 'XML for Node', {:controller => 'csys_poris',  :action => 'form', :format => 'xml',  :id => @project.identifier, :issue_id => @issue.id, :key => User.current.api_key}, {download: "n_"+@project.identifier+".xml" } %></p>
    <p><%= link_to 'XML for Project', {:controller => 'csys_poris',  :action => 'form', :format => 'xml',  :id => @project.identifier, :issue_id => @issue.id, :key => User.current.api_key, :from_root => "y"}, {download: "pr_"+@project.identifier+".xml" } %></p>
    <p><%= link_to 'XML for Node&Down', {:controller => 'csys_poris',  :action => 'form', :format => 'xml',  :id => @project.identifier, :issue_id => @issue.id, :key => User.current.api_key, :across_sub => "y"}, {download: "d_"+@project.identifier+".xml" } %></p>
  <div id="Panel" class="poristabcontent">

    <%     
    content_for :header_tags do %>
        <%= stylesheet_link_tag 'cosmosys_req_poris', :plugin => 'cosmosys_req_poris' %>
        <%= stylesheet_link_tag 'form/style', :plugin => 'cosmosys_req_poris' %>
    <% end %>

<div id="porisViewer"></div>
<script type="module">
    import { createPorisViewerPanel } from '<%= javascript_path '/plugin_assets/cosmosys_req_poris/javascripts/form/prod' %>'


    window.LoadPORISViewer = function(url) {
      createPorisViewerPanel(url, '#porisViewer')
    }

    LoadPORISViewer('<%= url1 %>')
</script>

  </div>
</div>
<% end %>