
<% if @issue != nil &&
(
  @issue.tracker.name == "prMode" ||
  @issue.tracker.name == "prSys" ||
  @issue.tracker.name == "prParam" ||
  @issue.tracker.name == "prValue" ||
  @issue.tracker.name == "prValFloat" ||
  @issue.tracker.name == "prValText" ||
  @issue.tracker.name == "prValDate" ||
  @issue.tracker.name == "prCmd"
)

then 
        url1 = url_for(:controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :issue_id => @issue.id)
        url2 = url_for(:controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :issue_id => @issue.id, :from_root => 'y', :key => User.current.api_key)
        url3 = url_for(:controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :issue_id => @issue.id, :across_sub => 'y', :key => User.current.api_key)

%>

<div class="poris-content">
  <div class="poristabsContainer">
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url1 %>')">Node</button>
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url2 %>')">Project</button>
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url3 %>')">Node&Down</button>  
  </div>
  <div id="Panel" class="poristabcontent">

    <%     
    content_for :header_tags do %>
        <%= stylesheet_link_tag 'cosmosys_req_poris', :plugin => 'cosmosys_req_poris' %>
        <%= stylesheet_link_tag 'porispanel/style', :plugin => 'cosmosys_req_poris' %>
    <% end %>

    <div id="porisViewer"></div>
    <script type="module">
        import { createPorisViewerPanel } from '<%= javascript_path '/plugin_assets/cosmosys_req_poris/javascripts/porispanel/prod' %>'


        window.LoadPORISViewer = function(url) {
          createPorisViewerPanel(url, '#porisViewer')
        }

        LoadPORISViewer('<%= url1 %>')
    </script>
  </div>
<div class="porisXMLlinks"">
    <%= link_to 'PORISXML', { :controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :issue_id => @issue.id}, download: @issue.subject+".poris" %></p>
    <%= link_to 'PORISXML for Project', { :controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :issue_id => @issue.id, :from_root => 'y'}, download: @issue.subject+"_r.poris" %></p>
    <%= link_to 'PORISXML for Node&Down', { :controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :issue_id => @issue.id, :across_sub => 'y'}, download: @issue.subject+"_d.poris" %></p>
    <%= link_to 'PORISRuby', { :controller => 'csys_poris', :action => 'porispanel', :format => 'rb', :issue_id => @issue.id}, download: @issue.subject+".rb" %></p>
    <%= link_to 'PORISRuby for Project', { :controller => 'csys_poris', :action => 'porispanel', :format => 'rb', :issue_id => @issue.id, :from_root => 'y'}, download: @issue.subject+"_r.rb" %></p>
    <%= link_to 'PORISRuby for Node&Down', { :controller => 'csys_poris', :action => 'porispanel', :format => 'rb', :issue_id => @issue.id, :across_sub => 'y'}, download: @issue.subject+"_d.rb" %></p>
</div>
</div>
<!--script>
function downloadURI(uri, name) {
  var link = document.createElement("a");
  link.download = name; // <- name instead of 'name'
  link.href = uri;
  link.click();
  link.remove();
}
</script-->
<% end %>