
<% if @issue != nil &&
(
  @issue.tracker.name == "prMode" ||
  @issue.tracker.name == "prSys" ||
  @issue.tracker.name == "prParam" ||
  @issue.tracker.name == "prValue" ||
  @issue.tracker.name == "prValFloat" ||
  @issue.tracker.name == "prValText" ||
  @issue.tracker.name == "prValDate" ||
  @issue.tracker.name == "prCmd"
)

then 
    
        splitted_url = request.fullpath.split('/issues')
        root_url = request.base_url+splitted_url[0]


        url1 = @issue.project.csys.calculate_form_path(root_url, @issue, false, false, false, User.current.api_key).html_safe
        url2 = @issue.project.csys.calculate_form_path(root_url, @issue, true, false, false, User.current.api_key).html_safe
        url3 = @issue.project.csys.calculate_form_path(root_url, @issue, false, false, true, User.current.api_key).html_safe

%>

<div class="poris-content">
  <div class="poristabsContainer">
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url1 %>')">Node</button>
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url2 %>')">Project</button>
    <button class="loadporislink" onclick="LoadPORISViewer('<%= url3 %>')">Node&Down</button>  
  </div>
  <div id="Panel" class="poristabcontent">

    <%     
    content_for :header_tags do %>
        <%= stylesheet_link_tag 'cosmosys_req_poris', :plugin => 'cosmosys_req_poris' %>
        <%= stylesheet_link_tag 'form/style', :plugin => 'cosmosys_req_poris' %>
    <% end %>

    <div id="porisViewer"></div>
    <script type="module">
        import { createPorisViewerPanel } from '<%= javascript_path '/plugin_assets/cosmosys_req_poris/javascripts/form/prod' %>'


        window.LoadPORISViewer = function(url) {
          createPorisViewerPanel(url, '#porisViewer')
        }

        LoadPORISViewer('<%= url1 %>')
    </script>
  </div>
<div class="porisXMLlinks"">
    <button class="loadporislink" onclick="downloadURI('<%= url1%>','<%= @issue.subject%>.xml')">XML for Node</button><br/>
    <button class="loadporislink" onclick="downloadURI('<%= url2 %>','<%= @project.identifier%>.xml')">XML for Project</button><br/>
    <button class="loadporislink" onclick="downloadURI('<%= url3 %>','<%= @issue.subject%>_d.xml')">XML for Node&Down</button>
</div>
</div>
<script>
function downloadURI(uri, name) {
  var link = document.createElement("a");
  link.download = name; // <- name instead of 'name'
  link.href = uri;
  link.click();
  link.remove();
}
</script>
<% end %>