<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'cosmosys_req_poris', :plugin => 'cosmosys_req_poris' %>
    <%= stylesheet_link_tag 'form/index-C6fuLPJS', :plugin => 'cosmosys_req_poris' %>
    <%= stylesheet_link_tag 'form/ModelXMLView-58gPgZp8', :plugin => 'cosmosys_req_poris' %>
<% end %>

<div id="app"></div>

<script>thiskey="<%=@key%>"</script>
<script>formpath="<%=@formpath%>"</script>
<%= javascript_include_tag 'form/index-IbOSeqsl', :plugin => 'cosmosys_req_poris', :type => 'module' %>