<%     
url1 = url_for(:controller => 'csys_poris', :action => 'porispanel', :format => 'poris')
url2 = url_for(:controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :across_sub => 'y', :key => User.current.api_key)
url3 = url_for(:controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :across_sup => 'y', :across_sub => 'y', :key => User.current.api_key)
%>

<div class="porisXMLlinks" style="float: right;">
    <%= link_to 'PORISXML for Project', { :controller => 'csys_poris', :action => 'porispanel', :format => 'poris'}, download: "p_"+@project.identifier+".poris" %></p>
    <%= link_to 'PORISXML for Project&Down', { :controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :across_sub => 'y'}, download: "p_"+@project.identifier+"_d.poris" %></p>
    <%= link_to 'PORISXML for TopNode&Down', { :controller => 'csys_poris', :action => 'porispanel', :format => 'poris', :across_sup => 'y', :across_sub => 'y'}, download: "p_"+@project.identifier+"_t.poris" %></p>

    <!--button class="loadporislink" onclick="downloadURI('<%= url1%>','<%= @project.identifier%>.poris')">XML for Project</button><br/>
    <button class="loadporislink" onclick="downloadURI('<%= url2 %>','<%= @project.identifier%>_d.poris')">XML for Project&Down</button><br/>
    <button class="loadporislink" onclick="downloadURI('<%= url3 %>','<%= @project.identifier%>_td.poris')">XML for TopNode&Down</button-->
</div>

<div class="poris-content">
    <div class="poristabsContainer">
        <button class="loadporislink" onclick="LoadPORISViewer('<%= url1 %>')">Project</button>
        <button class="loadporislink" onclick="LoadPORISViewer('<%= url2 %>')">Project&Down</button>
        <button class="loadporislink" onclick="LoadPORISViewer('<%= url3 %>')">TopNode&Down</button>
    </div>
    <div id="Panel" class="poristabcontent">
        <%     
        content_for :header_tags do %>
            <%= stylesheet_link_tag 'cosmosys_req_poris', :plugin => 'cosmosys_req_poris' %>
            <%= stylesheet_link_tag 'porispanel/style', :plugin => 'cosmosys_req_poris' %>
        <% end %>
        <div id="porisViewer"></div>
        <script type="module">
            import { createPorisViewerPanel } from '<%= javascript_path '/plugin_assets/cosmosys_req_poris/javascripts/porispanel/prod' %>'


            window.LoadPORISViewer = function(url) {
            createPorisViewerPanel(url, '#porisViewer')
            }

            LoadPORISViewer('<%= url1 %>')
        </script>

        <!--script>
function downloadURI(uri, name) {
  var link = document.createElement("a");
  link.download = name; // <- name instead of 'name'
  link.href = uri;
  link.click();
  link.remove();
}
        </script-->
    </div>
</div>
